// SCSS for the Add Memory modal

// Tutorial references for custom form input styling
//
// Checkboxes/radio buttons:
// http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953
// 
// Select elements
// http://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

#add-memory-modal {
	padding-top: 65px;
	width: 60%;
	li {
		height: 27px;
		width: auto;
		margin-right: 100px;
		display: inline-block;
		cursor: pointer;
		img {
			height: 100%;
		}
	}
	li:last-child {
		margin-right: 0;
	}
	#remember-header {
		color: $primary-color;
		font-style: italic;
		font-size: 26pt;
		letter-spacing: 1px;
		// Accounts for the line height - total space between its neighbors is 48px
		padding-top: 25px;
		padding-bottom: 15px;
	}
	& > p.header-text {
		color: $dark-grey;
		font-size: 12pt;
	}
	form {
		text-align: left;
		padding-top: 20px;
		width: 90%;
		margin: auto;
		.row > * {
			background: none;
			border-left: none;
			border-right: none;
			border-top: none;
			box-shadow: none;
			outline: none;
		}
		label {
			font-size: 14pt;
			color: $primary-color;
		}
		.optional-input.row {
			text-align: right;
			.svg-container {
				margin-top: 35px; // Spacing between inputs
				height: 27px;
				width: 100%;
				text-align: center;
			}
			p {
				font-style: italic;
				color: $dark-grey;
				text-align: center;
				margin-bottom: 25px; // 35px total between it and buttons below
			}
			.media-inputs {
				margin: 0 55px;
				text-align: center;
				& > * {
					display: inline-block;
				}
				a.button {
					color: $white;
					border: none;
					background: rgba(216,216,216,1);
					background: -moz-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(151,151,151,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,216,216,1)), color-stop(100%, rgba(151,151,151,1)));
					background: -webkit-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(151,151,151,1) 100%);
					background: -o-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(151,151,151,1) 100%);
					background: -ms-linear-gradient(top, rgba(216,216,216,1) 0%, rgba(151,151,151,1) 100%);
					background: linear-gradient(to bottom, rgba(216,216,216,1) 0%, rgba(151,151,151,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#979797', GradientType=0 );
				}
				.select-files {
					width: 290px;
					height: 48px;
				}
				.social-media {
					width: 48px;
					height: 48px;
					margin-right: 12px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			label {
				text-align: left;
				width: auto;
				margin-bottom: 0;
				pointer-events: none;
			}
			input {
				border: none;
				text-align: center;
				padding-bottom: 0;
				margin-bottom: -30px; // Vertically aligning it with the label text
			}
			hr {
				border-width: 1px;
				width: 100%;
				margin-top: 5px;
				margin-bottom: 2px; // 'Remove' should be 10px below it
				border-color: $primary-color;
			}
			a {
				color: $dark-grey;
				&:hover {
					color: $primary-color;
				}
			}
		}
		.basic-input.row {
			& > * {
				display: inline-block;
				text-align: right;
			}
			label {
				font-family: $font-family-monospace-lower;
				letter-spacing: 3px;
				text-align: left;
			}
		}
		input, select {
			text-align: center !important;
			margin-right: 25px;
			font-style: italic;
			&:last-child {
				margin-right: 0;
			}
		}
		.half-width, label {
			width: 265px;
		}
		.quarter-width {
			width: 120px;
		}
		#submit {
			text-align: right;
			button {
				width: 70px;
				height: 45px;
				line-height: 45px;
				padding: 0;
				&:hover {
					background-color: $primary-color;
					border: $primary-color;
				}
			}
		}
		#sharing {
			vertical-align: top;
			& + div {
				padding-top: 10px; // To align it with the top of the label
				label {
					color: $dark-grey;
					font-family: $font-family-monospace;
				}
			}
		}
		#add-info {
			color: $dark-grey;
			margin: 65px 0;
			cursor: pointer;
			span {
				padding-left: 10px;
			}
			&:hover {
				color: $primary-color;
			}
			&.show ~ .additional-input {
				max-height: 400px; // Larger than would ever be needed
				opacity: 1;
			}
		}
		.additional-input {
			max-height: 0;
			opacity: 0;
			-webkit-transition: all 1s;
			transition: all 1s;
		}
	}
}