@import "settings";
// @import "foundation";

// Or selectively include components
@import
    "foundation/components/buttons",
    "foundation/components/forms",
    "foundation/components/grid",
    "foundation/components/reveal",
    "foundation/components/type";
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
	overflow-x: hidden;
    background: #eee;
    text-align: center;
    width: 100%;
}
// Universal classes
.flat-button {
    background-color: $black;
    color: $white;
    text-align: center;
}
.svg-icon {
    height: 100%;
}
.svg-container {
    display: inline-block;
    height: 1.5em;
    min-height: 10px;
}
#main {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 40px 0;
    h1 {
        margin-top: 0;
        font-size: 35px;
    }
    ul {
        padding-left: 20px;
    }
}
.header-text {
    letter-spacing: 3px;
    font-family: $font-family-monospace;
    text-transform: lowercase;
}

$header-height: 64px;

/********************
 *
 * Profile Header
 *
 ********************/
 header {
    height: $header-height;
    min-height: 30px;
    background-color: $black;
    text-align: right;
    vertical-align: middle;
    color: white;
    padding-right: 0; // This will change when menu expands
    padding-left: 20px; 
    -webkit-transition:  padding 1s;
    transition: padding 1s;

    #toolbar {
        padding-right: $header-height + 15px;
        line-height: $header-height;
    }
	#logo {
	    float: left;
	    width: 104px;
	    height: auto;
        line-height: $header-height;
	}
	img {
    	display: inline-block;
	}
}

/********************
 *
 * Pullout Menu
 *
 ********************/
$pullout-menu-width: 20%;
$pullout-menu-contents-spacing: 45px;
$link-alignment-padding: 15px;
.triangle-left {
    width: 0;
    height: 0;
    border-top: $header-height solid transparent;
    border-right: $header-height solid $primary-color;
    border-bottom: $header-height solid transparent;
}
#pullout-menu-tab {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition:  right 1s;
    transition: right 1s;
    cursor: pointer;
}
#pullout-menu-icon-holder {
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;

    .svg-icon {
        padding-right: 10px;
    }
}
#pullout-menu {
    width: $pullout-menu-width;
    height: 100%;
    padding: $pullout-menu-contents-spacing 2%;
    text-align: left;
    z-index: 100;
    position: absolute;
    top: 0;
    right: -$pullout-menu-width; // "Hides" the menu off screen
    -webkit-transition:  right 1s;
    transition: right 1s;

    // Cursor generated using: http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28\-45deg\%2C\%20rgba\%28112\%2C112\%2C112\%2C1\%29\%200\%25\%2C\%20rgba\%28123\%2C123\%2C123\%2C0\.95\%29\%2037\%25\%2C\%20rgba\%28137\%2C137\%2C137\%2C0\.85\%29\%2081\%25\%2C\%20rgba\%28143\%2C143\%2C143\%2C0\.7\%29\%20100\%25\%29\%3B'
    background: rgba(112,112,112,1);
	background: -moz-linear-gradient(-45deg, rgba(112,112,112,1) 0%, rgba(112,112,112,0.95) 37%, rgba(112,112,112,0.85) 81%, rgba(112,112,112,0.7) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(112,112,112,1)), color-stop(37%, rgba(112,112,112,0.95)), color-stop(81%, rgba(112,112,112,0.85)), color-stop(100%, rgba(112,112,112,0.7)));
	background: -webkit-linear-gradient(-45deg, rgba(112,112,112,1) 0%, rgba(112,112,112,0.95) 37%, rgba(112,112,112,0.85) 81%, rgba(112,112,112,0.7) 100%);
	background: -o-linear-gradient(-45deg, rgba(112,112,112,1) 0%, rgba(112,112,112,0.95) 37%, rgba(112,112,112,0.85) 81%, rgba(112,112,112,0.7) 100%);
	background: -ms-linear-gradient(-45deg, rgba(112,112,112,1) 0%, rgba(112,112,112,0.95) 37%, rgba(112,112,112,0.85) 81%, rgba(112,112,112,0.7) 100%);
	background: linear-gradient(135deg, rgba(112,112,112,1) 0%, rgba(112,112,112,0.95) 37%, rgba(112,112,112,0.85) 81%, rgba(112,112,112,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#8f8f8f', GradientType=1 );

    a {
    	display: block;
    	color: $white;
    	padding-top: $pullout-menu-contents-spacing;
    	padding-left: $link-alignment-padding;
        &:hover {
        	color: $primary-color;
        }
    }
    input[type="search"] {
	    border-radius: 50px;
		padding: 5px $link-alignment-padding;
		margin-bottom: 0;
        text-transform: lowercase;
        letter-spacing: 3px;
    }
}
// Pulled out menu styles
#pullout-menu.show {
    right: 0;
    -webkit-transition:  right 1s;
    transition: right 1s;
}
#pullout-menu-tab.show {
    right: $pullout-menu-width;
    -webkit-transition:  right 1s;
    transition: right 1s;
}
header.shift {
    padding-right: $pullout-menu-width;
    -webkit-transition:  padding 1s;
    transition: padding 1s;
}

/********************
 *
 * User Profile
 *
 ********************/
$user-info-spacing: 15px;
#user-information {
    min-height: 220px;
    background-color: $primary-color;
    margin: 0 10px;
    position: relative; // Necessary to postiion 'add' button absolutely on it
    text-align: center;
   	font-size: $small-font-size;

   	#profile-picture {
   		padding: $user-info-spacing 0px;
   	}
	p {
	   	padding: $user-info-spacing 0px;
	   	margin: 0px;
	    font-size: $small-font-size;
	}
	hr {
	   border: 0;
	   margin: 0px auto $user-info-spacing auto;
	   background-color: $black;
	   height: 1px;
	   width: 60%;
	}
}
#add-memory {
    position: absolute;
    top: 45%;
    right: -15px;
    padding: 3px 5px;
}

/********************
 *
 * Memory Gallery
 *
 ********************/

/****** Header ******/
#gallery-header {
    padding-top: 15px;

    p {
    	margin: 0;
    	display: inline-block;
    }
	p#username {
        font-size: $large-font-size;
	    font-style: italic;
	}
    .svg-container {
        height: 1em;
    }
}

/****** Rows *******/
.gallery-row.row {
    margin: 2.5em 5% 0.5em 5%;

    .collection {
        height: 160px;
        margin: auto;

        .content-holder {
            height: 100%;
            width: 100%;
            padding: 5px;
            text-align: center;
            border: solid $light-grey;
            border-width: 2px;
        }
    }
}

