@import "settings",
		"addModal",
        "foundation/components/buttons",
        "foundation/components/forms",
        "foundation/components/reveal",
        "foundation/components/type";

// Main page structure
#main {
	display: -webkit-flex;
	padding: 0;
	padding: 50px 126px 252px 40px;
	#collection {
		-webkit-flex-grow: 1;
	}
}

/********************
 *
 * Info box
 *
 ********************/
 #info-box {
 	width: 65px;
 	margin-right: 45px;
 	-webkit-flex-shrink: 0;
 	#profile-pic {
 		background-repeat: no-repeat;
 		background-size: cover;
 		height: 65px;
 	}
 	a.button {
 		width: 100%;
 		padding: 0;
 		line-height: 25px;
 	}
 	#back.button {
 		background-color: $primary-color;
 		border-width: 0;
 		color: transparent;
 		transition: color 0.5s;
 		-webkit-transition: color 0.5s;
 		margin-bottom: 10px;
 		&:hover {
 			color: rgba(39,39,39,0.7); // $black
	 		transition: color 0.5s;
	 		-webkit-transition: color 0.5s;
 		}
 	}
 }

 /********************
 *
 * Collection
 *
 ********************/

#collection {
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
 /****** Header ******/
#gallery-header {
    p {
    	margin: 0;
    	display: inline-block;
    }
	p#name {
	    font-style: italic;
        font-size: 25pt;
        line-height: 20pt;
        margin-bottom: 15px;
        a {
        	padding-right: 11px;
        	background-image: url(../images/icons/back_arrow.svg);
        	background-size: 100% 100%;
        	margin-bottom: 3.5px; // Vertically align the img with the text
        	margin-right: 20px;
        	&:hover {
        		background-image: url(../images/icons/back_arrow_blue.svg);
        	}
        }
	}
    p.header-text {
        font-size: 12pt;
        line-height: 10pt;
        padding-left: 35px;
    }
}

 /********************
 *
 * Memory
 *
 ********************/
#memory-gallery {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	.memory:first-child > div:first-child {
		margin-top: 47px; // Align with top of 'add' button
	}
}
.memory {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	& > div:first-child {
		margin-top: 100px;
	}
	& > * {
		display: -webkit-flex;
		margin-top: 20px;
		transition: margin-top 1s;
	}
	// Image and text content are in the central column
	.center-col {
		-webkit-flex-basis: 800px;
		-webkit-flex-grow: 1;
	}
	/****** Upper Section ******/
	// First, upper section of the memory
	.upper-section {
		margin-left: 170px;
		.image {
			//background-color: $light-grey;
			position: relative;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 1;
			transition: opacity 300ms;
			-webkit-transition: opacity 300ms;
			&::after {
				content: '';
				display: block;
				padding-top: 51.875%; // 415/800 l to w ratio
			}
			.popup {
				pointer-events: none;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 600px;
				opacity: 0;
				transition: opacity 300ms;
				-webkit-transition: opacity 300ms;
				display: -webkit-flex;
				-webkit-flex-direction: column;
				-webkit-justify-content: center;
				-webkit-align-content: center;
				-webkit-align-items: center;
				.wrapper {
					box-shadow: 0 0 60px rgba(39, 39, 39, 0.3);
					position: relative;
					a.close-popup {
						position: absolute;
						bottom: 0;
						right: -35px;
						line-height: 35px; // Same as paragraph height in location
						font-size: 2rem;
						color: $black;
						&:hover {
							color: $primary-color;
						}
					}
				}
				p {
					font-family: $font-family-monospace-lower;
					background-color: $primary-color;
					letter-spacing: 3px;
					padding: 5px 0;
				}
				&.show:not(#fade) {
					opacity: 1;
					pointer-events: auto;
				}
			}
			.fadeClass {
				width: 100%;
				height: 100%;
				background: $white;
				&.show {
					opacity: 0.7;
				}
			}
			.locationClass {
				p {
					text-align: center;
					width: 100%;
				}
			}
			.soundClass .wrapper {
				display: -webkit-flex;
				-webkit-flex-direction: row;
				#player {
					background-color: $white;
					height: 80px;
				}
				button {
					background-image: url(../images/icons/pause.svg);
					background-repeat: no-repeat;
					background-position: center;
					border: none;
					height: 100%;
					width: 80px;
					padding: 0;
					&.paused {
						background-image: url(../images/icons/play.svg);
					}
				}
				p {
					font-family: $font-family-serif;
					text-align: center;
					line-height: 80px;
					min-width: 400px;
					padding: 0 10px;
				}
				a.close-popup {
					line-height: 80px; // Same as height of entire audio player
				}
			}
			.videoClass.youtube-container {
				display: block; margin: 100px auto;
				width: 100%;
				max-width: 600px;
			}
			.youtube-player {
				display: block;
				width: 100%;
				/* assuming that the video has a 16:9 ratio */
				padding-bottom: 56.25%;
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 100%;
				cursor: hand;
				cursor: pointer;
				display: block;
			}
			img.youtube-thumb {
				bottom: 0;
				display: block;
				left: 0;
				margin: auto;
				max-width: 100%; 
				width: 100%; position:
				absolute;
				right: 0;
				top: 0; 
				height: auto 
			}
			div.play-button { 
				height: 72px; 
				width: 72px; 
				left: 50%; 
				top: 50%; 
				margin-left: -36px; 
				margin-top: -36px; 
				position: absolute; 
				background: url("http://i.imgur.com/TxzC70f.png") no-repeat; 
			}
			#youtube-iframe { 
				width: 100%; 
				height: 100%; 
				position: absolute; 
				top: 0; 
				left: 0; 
			}
		}
		.memory-media {
			width: 70px;
			margin-left: 40px;
			-webkit-flex-shrink: 0;
			text-align: center;
			color: $primary-color;
			position: relative;
			img {
				height: 50px;
				width: auto;
				margin-bottom: 25px;
			}
			& > * {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				cursor: pointer;
				&:hover {
					-webkit-filter: none;
					filter: none;
				}
			}
			 /********************
			 *
			 * Comments
			 *
			 ********************/
			 .comment-section {
			 	text-align: left; // Because content is same size as width, this has no effect expect easing transitions
				position: absolute;
			 	left: 0px;
			 	right: 0;
		 		-webkit-transition: bottom 1s 1s, left 1s;
		 		transition: bottom 1s 1s, left 1s;
		 		& > a {
		 			opacity: 1;
		 			transition: opacity 1s;
		 		}
			 	& > div {
			 		opacity: 0;
			 		transition: opacity 1s;
			 		width: 500px;
			 		margin-top: -25px;
			 		pointer-events: none;
			 	}
		 		hr {
					margin-top: 0;
					margin-bottom: 8px;
					width: 70px;
		 			-webkit-transition: width 1s;
		 			transition: width 1s, margin-bottom 1s 1s;
					border-color: $primary-color;
				}
			 	&.expanded {
			 		margin-top: 30px;
			 		filter: none;
			 		-webkit-filter: none;
			 		cursor: default;
			 		left: -430px;
					-webkit-transition: left 1s 1s, bottom 1s;
					transition: left 1s 1s, bottom 1s;
			 		hr {
			 			border-color: $primary-color;
			 			width: 500px;
			 			margin-bottom: 0;
						-webkit-transition: width 1s 1s;
						transition: width 1s 1s, margin-bottom 1s;
			 		}
			 		& > a {
			 			opacity: 0;
			 			pointer-events: none;
			 		}
			 		& > div {
			 			opacity: 1;
			 			transition: opacity 1s 1s;
			 			pointer-events: auto;
			 		}
			 	}
			 }
		}
	}
	/****** Lower Section ******/
	// Second, lower part of the memory
	.metadata {
		-webkit-flex-shrink: 0;
		width: 103px;
		p:first-child:not(.date) { // Only applied if author shown in margin
			margin: 7.5px 0; // To vertically align it with the user icon
			font-style: italic;
			a {
				color: $black;
				&:hover {
					color: $primary-color;
				}
			}
		}
		.date {
			line-height: 1;
			color: $primary-color;
			&:first-child { // Only applied if no author shown in margin, overriding above
				margin-top: 12px;
				margin-bottom: 0;
			}
		}
	}
	.author-icon {
		-webkit-flex-shrink: 0;
		width: 67px;
		.user-icon {
			width: 40px;
			height: 40px;
		}
	}
	.text.center-col {
		margin-right: 120px; // Matches width of memory media icons + its left margin
		p:first-child { // Will only be applied if no title
			margin-top: 7.5px; // To vertically align it with the user icon
		}
		.title:first-child { // Applied, overriding above, when there's a title
			font-style: italic;
			font-size: 22px;
			margin-top: 2.5px; // To vertically align it with the user icon
		}
		p {
			margin-bottom: 10px;
		}
		.tags {
			margin-top: 20px;
			color: $dark-grey;
			a {
				color: inherit;
				font-family: $font-family-monospace-lower;
				font-size: 10pt;
				&:hover {
					color: $anchor-font-color-hover;
				}
			}
		}
	}
}
/********************
 *
 * Comment Section
 *
 ********************/
 .comment {
 	display: -webkit-flex;
 	-webkit-flex-direction: column;
 	.content {
 		font-family: $font-family-serif;
		color: $black;
		letter-spacing: 1px;
		text-transform: none;
 		display: -webkit-flex;
 		.user-icon {
 			height: 30px;
 			width: 30px;
 			margin-top: 10px;
 			-webkit-flex-shrink: 0;
 		}
 		div:last-child {
 			margin-left: 20px;
 		}
 		p {
 			font-style: italic;
 			margin-top: 14px;
 		}
 		input {
 			border: none;
 			box-shadow: none;
 			background: none;
 			padding-left: 0;
 			padding-top: 0;
 			&:focus {
 				background: none;
 			}
 		}
 		.comment-body {
 			margin-top: 5px;
 			font-style: normal;
 			font-size: 14px;
 			line-height: 1.3;
 			letter-spacing: normal;
 		}
 	}
 	.submit {
 		text-align: right;
 		color: $dark-grey;
 		& > * {
 			display: inline-block;
 		}
 		a {
 			color: $dark-grey;
 		&:hover {
 			color: $primary-color;
 		}
 		}
 	}
 }
