@import "settings",
        "foundation/components/buttons",
        "foundation/components/forms",
        "foundation/components/reveal",
        "foundation/components/type";

// Main page structure
#main.flex-container {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	padding: 0;
	#user-info.flex-item {
		-webkit-flex-grow: 1;
		margin-top: 50px;
		margin-left: 40px;
	}
	#collection.flex-item {
		-webkit-flex-grow: 25;
		margin-top: 45px;
	}
}

/********************
 *
 * Info box
 *
 ********************/
 #info-box {
 	width: 65px;
 	#profile-pic {
 		background-image: url(../images/my-profile-pic.jpg);
 		background-repeat: no-repeat;
 		background-size: cover;
 		height: 65px;
 	}
 	a.button {
 		width: 100%;
 		padding: 0;
 		height: 25px;
 		line-height: 25px;
 	}
 	#back.button {
 		background-color: $primary-color;
 		border-width: 0;
 		color: transparent;
 		transition: color 0.5s;
 		-webkit-transition: color 0.5s;
 		margin-bottom: 10px;
 		&:hover {
 			color: rgba(39,39,39,0.7); // $black
	 		transition: color 0.5s;
	 		-webkit-transition: color 0.5s;
 		}
 	}
 }

 /********************
 *
 * Collection
 *
 ********************/
 // Structure for collection section
#collection.flex-container {
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
#memory-gallery.flex-container {
	display: -webkit-flex;
	-webkit-flex-direction: column;
}
.memory.flex-container {
	display: -webkit-flex;
	-webkit-flex-direction: row;
}
