@import "settings",
	    "foundation/components/buttons",
	    "foundation/components/forms",
	    "foundation/components/grid",
	    "foundation/components/reveal",
	    "foundation/components/type";

$side-padding-base: 50px;
$top-bottom-padding-base: 90px;

img {
	height: 100%;
	width: auto;
}

body {
	background: url('../images/background-grain.jpg');
}

/********************
 *
 * Main block
 *
 ********************/
#main {
	color: $white;
	padding: 0;
	.triangle-left {
	    width: 0;
	    height: 0;
	    border-top: $header-height solid transparent;
	    border-right: $header-height solid rgba(95,127,142,0.7); // $blue
	    border-bottom: $header-height solid transparent;
	    position: absolute;
	    top: 0;
	    right: 0;
	}
	#banner {
		margin: 150px 0 0 $side-padding-base;
		font-size: $large-font-size;
		text-align: center;
	}
	#logo {
		height: 100px;
		text-align: left;
	}
	.button-container {
		line-height: 100%;
		height: 100%;
		position: relative;
		a.button {
			padding-left: 0;
			padding-right: 0;
			width: 200px;
			font-size: 100%;
		}
	}
	#tagline {
		padding-left: $side-padding-base;
		margin-top: $side-padding-base * 2;
		p {
			font-size: $large-font-size;
			letter-spacing: 6px;
		}
	}
	form {
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		padding: 0 25%;
		p {
			font-family: $font-family-monospace-lower;
			font-size: 14px;
			padding: 0 25px;
			line-height: 16px;
			text-align: left;
			margin-top: 15px;
		}
		input {
			background: none;
			text-align: center;
			font-style: italic;
			border-left: none;
			border-right: none;
			border-top: none;
			border-bottom: 1.5px solid $white;
			color: $white;
			font-size: 80%;
			box-shadow: none;
			padding: 25px 0;
		}
		.button {
			border-width: 1px;
			padding-left: 0;
			padding-right: 0;
			width: 100px;
			margin-top: 25px;
		}
	}
	form.show {
		height: auto;
		opacity: 1;
		transition: opacity 1s;
		-webkit-transition: opacity 1s;
	}
}
#tagline-subtext {
	margin-left: 190px;
	font-style: italic;
	line-height: 15px;
	letter-spacing: 2px !important;
}

/********************
 *
 * Memory Carousel
 *
 ********************/
 ul#memory-carousel {
	height: 100px;
    position: relative;
	top: 0;
	margin: 0;
	display: -webkit-flex;
	-webkit-flex-direction: row-reverse;
	-webkit-justify-content: flex-start;
	right: 0px;
	.memory {
		-webkit-flex-shrink: 0;
	}
 	li {
 		display: inline-block;
 		height: 100px;
 		width: auto;
 		padding: 0 5px;
 	}
 }
#scrollwrapper {
	position: relative;
	margin: 100px 0;
	overflow-x: hidden;
	-webkit-transition:  margin 1s;
    transition: margin 1s;
	&.shifted {
	  	margin-top: $side-padding-base * 4;
	  	margin-bottom: 0;
		-webkit-transition:  margin 1s;
	    transition: margin 1s;
	  }
}

/********************
 *
 * About section
 *
 ********************/
#about {
	background-color: $purple;
	color: $black;
	text-align: left;
	.row {
		height: 450px;
	}
	p.header-text {
		text-align: center;
		padding-bottom: $side-padding-base;
	}
	p {
		font-size: $small-font-size;
		color: black;
	}
	.about-block {
		height: 100%;
		padding: 0;
		float: left !important;
	}
	.about-background {
		width: 100%;
		height: 100%;
		&::after {
			content: "";
			background-image: url(../images/background_blur.jpg);
			opacity: 0.25;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
		 }
	}
	#yellow-about {
		background-color: rgba(209,219,189,0.7);
	}
	#green-about {
		background-color: rgba(145,170,157,0.7);
	}
	#blue-about {
		background-color: rgba(95,127,142,0.7);
	}
	.about-content {
		padding: $top-bottom-padding-base 16%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

/********************
 *
 * How It Works section
 *
 ********************/
 $icon-height: 50px;
#how-it-works {
	text-align: left;
	padding: $top-bottom-padding-base $side-padding-base;
	width: 100%;
	background-color: $white;
	p {
		width: 600px;
	}
}
ul#mnemonic-explanation {
	text-align: right;
	margin-top: $side-padding-base * 2 + 30px;
	margin-bottom: 200px;
	li {
		display: inline-block;
		margin-left: 12%;
		position: relative;
		img {
			cursor: pointer;
			height: $icon-height;
			width: auto;
			opacity: 0.5;
		}
		.mnemonic-content-left {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			.vertical-line {
				position: absolute;
				top: 0;
				left: -20px;
				height: 100%;
			}
			p {
				font-style: italic;
				text-align: left;
				width: 300px;
				margin-top: $icon-height * 1.5;
			}
		}
		.mnemonic-content-right {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			pointer-events: none;
			.vertical-line {
				position: absolute;
				top: 0;
				right: -20px;
				height: 100%;
			}
			p {
				font-style: italic;
				text-align: right;
				width: 300px;
				margin-top: $icon-height * 1.5;
			}
		}
	}
	.selected {
		img {
			opacity: 1;
		}
		.mnemonic-content-right, .mnemonic-content-left {
			display: block;
		}
	}
}

#quote {
	text-align: left;
	background: $beige;
	padding: $top-bottom-padding-base 0;
	.wrapper {
		margin: auto;
		width: 600px;
	}
	blockquote {
		border: none;
		color: black;
		padding: 0;
	}
}

footer {
	background: black;
	padding: $side-padding-base;
	color: $white;
	font-size: $small-font-size;
	text-align: left;
	h5 {
		letter-spacing: regular;
		color: $white;
		margin-bottom: 15px;
	}
	p#version {
		margin-top: 15px;
		font-style: italic;
	}
}