@import "settings",
        "foundation/components/buttons",
        "foundation/components/forms",
        "foundation/components/grid",
        "foundation/components/reveal",
        "foundation/components/type";

/********************
 *
 * User Profile
 *
 ********************/

$user-info-spacing: 15px;
#user-information {
    -webkit-flex-shrink: 0;
    min-height: 220px;
    background-color: $primary-color;
    margin-left: 40px;
    width: 160px;
    height: 310px;
    position: relative; // Necessary to postiion 'add' button absolutely on it
    text-align: center;
   	font-size: $small-font-size;

    #user-memories-count {
        width: 25px;
        height: 25px;
        margin-top: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }

    #user-connections-count {
        width: 26px;
        height: 28px;
        margin-top: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }

   	#profile-picture {
   		margin-top: 20px;
        width: 160px;
        height: 120px;
        img {
            width: auto;
            height: 100%;
        }
   	}
	p {
        line-height: 8pt;
	   	padding: 15px 0;
	   	margin: 0px;
	    font-size: 10pt;
	}
	hr {
	   border: 0;
	   margin: 0 auto 0 auto;
	   background-color: $black;
	   height: 1pt;
	   width: 95px;
	}
    a {
        display: block;
        margin-top: 10px;
        width: 100%;
        height: 42px;
        line-height: 42px;
        padding: 0;
        font-size: 10pt;
    }
}

#main {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    #body-section {
        -webkit-flex-grow: 1;
    }
}

/********************
 *
 * Memory Gallery
 *
 ********************/
/****** Header ******/
#gallery-header {
    padding-left: 40px;
    padding-top: 48px;
    p {
    	margin: 0;
    	display: inline-block;
    }
	p#username {
	    font-style: italic;
        font-size: 25pt;
        line-height: 20pt;
	}
    p.header-text {
        font-size: 12pt;
        line-height: 10pt;
    }
    .svg-container {
        width: 13px;
        height: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
/****** Rows and Memory Boxes *******/

#gallery {
    margin-right: 85px;
    margin-top: 37px;
    margin-left: 85px;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    .gallery-box {
        -webkit-flex-grow: 1;
        min-width: 230px;
        //max-width: 280px; // Add back in to restrict gallery box size but leave whitespace sometimes
        background: url(../images/frame_icon.svg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin: 20px;
        padding: 22px 27px 46px 27px; // 50px bottom padding makes room for title
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        overflow: hidden;
        position: relative;
        .content {
            margin: 3px;
            background-color: $light-grey;
        -webkit-flex-grow: 1;
        }
        .collection-title {
            text-align: center;
            position: absolute;
            // Left and right position = side padding of the gallery box
            left: 27px;
            right: 27px;
            bottom: 0;
            height: 48px; // The bottom padding of the gallery box + 2 because of margin on content boxes
            background: $white;
            font-size: 14pt;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
        }
    }
    .four-pic .content-col {
        display: -webkit-flex;
        -webkit-flex-flow: column wrap;
        -webkit-flex-grow: 1;
    }
    .text-only .content {
        width: 50px; // Arbitrary - just needs to be less than minimum width of the gallery box (172)
        height: 106px; // Arbitrary - just needs to be less than minimum height of the gallery box (106)
        background-color: white;
        font-style: italic;
    }
    .gallery-box.ghost {
        background: none;
        height: 0;
    }
    .gallery-box::after {
        content: '';
        padding-top: 62%;
        display: block;
    }
}

/********************
 *
 * Footer
 *
 ********************/
#footer {
    height: $footer-height;
}
