<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <!-- TODO: Remove this and generalize the code in it that this page needs -->
    <link rel="stylesheet" href="stylesheets/profile.css">
    <link rel="stylesheet" href="stylesheets/collection.css">
    <title>Collection</title>
    <meta name="description" content="View Your Memory Collections">
  </head>
  <body>
    <header>
      <img id="logo" src="images/collect_logo.svg" alt="Logo">
      <div id="middle"></div>
      <div id="toolbar">
        <a href="/connections">
          <div class="svg-container">
            <img id="connections-icon" class="svg-icon" src="images/connections_icon_white.svg" alt="Connections">
          </div>
        </a>
        <a href="#">
          <div class="svg-container">
            <img id="messages-icon" class="svg-icon" src="images/messages_icon_white.svg" alt="Messages">
          </div>
        </a>
        <p class="header-text" id="username"><%= username %></p>
        <div id="profile-icon"></div>
      </div>
    <!-- NOTE: The following *must* be included as it closes the header tag -->
    <% include partials/header-end.ejs %>

    <!-- Display all collections -->
    <div id="main" class="flex-container">
      <div id="user-info" class="flex-item">
        <div id="info-box">
          <div class="profile-pic"></div>
          <a href="/profile?email=testUser" id="back" class="button">back</a>
          <a href="#" class='button dark' data-reveal-id="add-memory-modal">
            add
          </a>

          <div id="add-memory-modal" class="reveal-modal" data-reveal data-options="animation:fade;">
            <!-- TODO: Add HTML from profile.ejs when it's done -->
          </div>
        </div>
      </div>

      <div id="collection" class="flex-item flex-container">
          <div class="flex-item">Name of the Collection<!-- TODO: Get markup and CSS from profile.ejs --></div>

          <div id="memory-gallery" class="flex-item flex-container">
              <div class="memory flex-item flex-container">
                <div class="flex-item"></div>
                <div class="flex-item"></div>
              </div>
              <div class="memory flex-item flex-container">
                <div class="flex-item"></div>
                <div class="flex-item"></div>
              </div>
              <div class="memory flex-item flex-container">
                <div class="flex-item"></div>
                <div class="flex-item"></div>
              </div>
          </div>
      </div>
    </div>

    <% include partials/scripts.ejs %>
  </body>
</html>