<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <!-- TODO: Remove this and generalize the code in it that this page needs -->
    <link rel="stylesheet" href="stylesheets/profile.css">
    <link rel="stylesheet" href="stylesheets/collection.css">
    <title>Collection</title>
    <meta name="description" content="View Your Memory Collections">
  </head>
  <body>
    <header>
      <div class="left">
       <span id="logo"><img src="images/collect_logo.svg" alt="Logo"></span>
     </div>
     <div class="right" id="toolbar">
        <div class="wrapper">
          <a href="/connections">
            <div class="svg-container">
              <img class="svg-icon" src="images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#">
            <div class="svg-container">
              <img class="svg-icon" src="images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>
          <span class="header-text" id="user-info"><%= username %></span>
        </div>
      </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

    <!-- Display all collections -->
    <div id="main" class="flex-container">
      <div id="user-info" class="flex-item">
        <div id="info-box">
          <div class="profile-pic"></div>
          <a href="/profile?email=testUser" id="back" class="button">back</a>
          <a href="#" class='button dark' data-reveal-id="add-memory-modal">
            add
          </a>

          <div id="add-memory-modal" class="reveal-modal" data-reveal data-options="animation:fade;">
            <!-- TODO: Add HTML from profile.ejs when it's done -->
          </div>
        </div>
      </div>
      <div id="collection" class="flex-item">Collection</div>
    </div>

    <% include partials/scripts.ejs %>
  </body>
</html>