<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <title>Connections</title>
    <meta name="description" content="View Your Connections">
  </head>
  <body>
    <header>
        <a href="/profile"><img id="logo" src="/images/collect_logo.svg" alt="Logo"></a>
        <div id="middle"></div>
        <div id="toolbar">
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="connections-icon" class="svg-icon" src="/images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#" data-reveal-id="unimplemented-warning">
            <div class="svg-container">
              <img id="messages-icon" class="svg-icon" src="/images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>

          <div id="unimplemented-warning" class="reveal-modal" data-reveal data-options="animation:fade;">
            <a class="close-reveal-modal">&#x2715;</a>
            <p>Sorry, this feature hasn't been implemented yet.</p>
            <p class="header-text">Check back soon!</p>
          </div>

          <a href="/profile">
            <p class="header-text" id="username"><%= username %></p>
          </a>
          <a href="/profile">
            <div class="user-icon"></div>
          </a>
        </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

    <!-- Display all connections -->

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>