<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <title>COLLECT</title>
  </head>
  <body>

  <div id="main" class="row">
    <div class="row">
      <div id="logo" class="small-12 large-6 columns">
        <img src="images/collect_logo.svg" alt="Collect Logo"/>
      </div>
      <div class="header-text small-6 large-3 columns">Log In</div>
      <div class="header-text small-6 large-3 columns">Sign Up</div>
    </div>
    <div id="tagline" class="row">
      <div class="large=12 columns">
        <p class="header-text">memories are fleeting:</p>
        <p>preserve your experiences</p>
      </div>
    </div>
  </div>

  <div id="how-it-works" class="row">
  </div>

  <div id="quote" class="row">
    <blockquote>
      When you have only a few cubic yards to yourself and your innermost feelings, that private space must be subjected to severest discipline if it is to withstand the dissolution, destruction and pressure to yield coming from all sides.
    </blockquote>
    <p class="header-text">—peter hoeg</p>
  </div>

  <footer class="row">
    <div class="small-12 large-4 columns">
      <h1>information</h1>
      <p>Designed and produced by Samantha Coughlin.</p>
      <p>Design BFA Thesis, University of Notre Dame</p>
      <p id="version">Stage 1: 2015</p>
    </div>
    <div class="small-12 large-8 columns">
      <!-- Need vertical bar -->
    </div>
  </footer>

    <% include partials/scripts.ejs %>
  </body>
</html>