<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="stylesheets/homepage.css">
    <title>C O L L E C T</title>
  </head>
  <body>

  <div id="main" class="row">
    <div class="triangle-left"></div>

    <div id="banner" class="row">
      <div id="logo" class="small-12 large-6 columns">
        <img src="images/collect_logo.svg" alt="Collect Logo"/>
      </div>

      <div class="button-container small-6 large-3 columns">
        <a href="#" class="button">log in</a>
        <form id="log-in" name="logIn" method="post" action="/profile">
          <p>Log in with an existing account or Sign in below</p>
          <ul id="social-account-icons">
            <li><img src="../images/icons/facebook_icon.svg" /></li>
            <li><img src="../images/icons/youtube_icon.svg" /></li>
            <li><img src="../images/icons/flickr_icon.svg" /></li>
          </ul>
          <input type="email" id="log-in-email" name="email" placeholder="email" value="elizabeth@gmail.com" />
          <input type="password" id="password" placeholder="password" value="elizabeth" />
          <button class="header-text button" type="submit">sign in</button>
        </form>
      </div>

      <div class="button-container small-6 large-3 columns">
        <a href="#" class="button">sign up</a>
        <form id="sign-up" name="signUp"> <!-- method="post" action="/signup"-->
          <p>Connect to an existing account or Sign up below</p>
          <ul id="social-account-icons">
            <li><img src="../images/icons/facebook_icon.svg" /></li>
            <li><img src="../images/icons/youtube_icon.svg" /></li>
            <li><img src="../images/icons/flickr_icon.svg" /></li>
          </ul>
          <input type="text" id="first-name" name="firstname" placeholder="name" />
          <input type="email" id="user-email" name="email" placeholder="email" />
          <input type="password" id="password" placeholder="password" />
          <button class="header-text button" type="submit">create</button>
        </form>

      </div>
    </div> <!-- End banner -->

    <div id="tagline" class="row">
      <div class="large=12 columns">
        <p class="header-text">memories are fleeting:</p>
        <p id="tagline-subtext">preserve your experiences</p>
      </div>
    </div>
  </div> <!-- End main -->

  <div id='scrollwrapper'>
    <ul id="memory-carousel">
      <li class="memory"><img src="../images/carousel/1.jpg"></li>
      <li class="memory"><img src="../images/carousel/2.jpg"></li>
      <li class="memory"><img src="../images/carousel/3.jpg"></li>
      <li class="memory"><img src="../images/carousel/4.jpg"></li>
      <li class="memory"><img src="../images/carousel/5.jpg"></li>
      <li class="memory"><img src="../images/carousel/6.jpg"></li>
      <li class="memory"><img src="../images/carousel/7.jpg"></li>
      <li class="memory"><img src="../images/carousel/8.jpg"></li>
      <li class="memory"><img src="../images/carousel/9.jpg"></li>
      <li class="memory"><img src="../images/carousel/10.jpg"></li>
      <li class="memory"><img src="../images/carousel/11.jpg"></li>
      <li class="memory"><img src="../images/carousel/12.jpg"></li>
      <li class="memory"><img src="../images/carousel/13.jpg"></li>
      <li class="memory"><img src="../images/carousel/14.jpg"></li>
      <li class="memory"><img src="../images/carousel/15.jpg"></li>
      <li class="memory"><img src="../images/carousel/16.jpg"></li>
      <li class="memory"><img src="../images/carousel/17.jpg"></li>
      <li class="memory"><img src="../images/carousel/18.jpg"></li>
      <li class="memory"><img src="../images/carousel/19.jpg"></li>
      <li class="memory"><img src="../images/carousel/20.jpg"></li>
      <li class="memory"><img src="../images/carousel/21.jpg"></li>
      <li class="memory"><img src="../images/carousel/22.jpg"></li>
      <li class="memory"><img src="../images/carousel/23.jpg"></li>
      <li class="memory"><img src="../images/carousel/24.jpg"></li>
      <li class="memory"><img src="../images/carousel/25.jpg"></li>
      <li class="memory"><img src="../images/carousel/26.jpg"></li>
      <li class="memory"><img src="../images/carousel/27.jpg"></li>
      <li class="memory"><img src="../images/carousel/28.jpg"></li>
      <li class="memory"><img src="../images/carousel/29.jpg"></li>
      <li class="memory"><img src="../images/carousel/30.jpg"></li>
      <li class="memory"><img src="../images/carousel/31.jpg"></li>
      <li class="memory"><img src="../images/carousel/32.jpg"></li>
      <li class="memory"><img src="../images/carousel/33.jpg"></li>
    </ul> <!-- End memory image carousel -->
  </div>

  <div id="about">
    <div class="row">
      <div class="about-block small-12 large-4 columns">
        <div id="yellow-about" class="about-background"></div>
        <div class="about-content">
          <p class="header-text">memory inspires identity</p>
          <p>Our memories shape who we are and how we relate to the world. They record our past and frame our future. These scattered moments form the foundation of our identity, yet they are transient and fleeting by nature. In recollection, we actively engage our subconscious to travel back in time and explore dormant memories. With the added perspective of the present, we can reminisce about our formative moments.</p>
        </div>
      </div>
      <div class="about-block small-12 large-4 columns">
        <div id="green-about" class="about-background"></div>
        <div class="about-content">
          <p class="header-text">our stories matter</p>
          <p><span class="header-text">collect</span> is a personalized medium to preserve and build upon our respective stories; it is a website dedicated to archiving memories and shared experiences in order to adapt the past to its most vivid expression. It is a repository that gathers our histories and a space that engages us in reconstructing and protecting our experiences to understand our personal growth.</p>
        </div>
      </div>
      <div class="about-block small-12 large-4 columns">
        <div id="blue-about" class="about-background"></div>
        <div class="about-content">
          <p class="header-text">protect the past</p>
          <p>With  <span class="header-text">collect</span>, users can privately manage their past by gathering memories and building shared recollection spaces with friends and family. Organized and accessible, the platform archives memories by date, location and content, and allows for the incorporation of visual and auditory aids. The design strives to increase the dimensionality of our narratives, reinforcing personal histories with greater tactility—metaphorically returning us to the place where we first captured each experience.</p>
        </div>
      </div>
    </div>
  </div> <!-- End about -->

  <div id="how-it-works">
    <div class="row">
      <h1>how it works</h1>
      <p><span class="header-text">collect</span> is built to enrich memory; it saves content in a protected digital space and actively engages users in strengthing their memories by reinforcing neural pathways.<br><br>The website uses five central “mnemonic” devices to give memories more tactile form; recording the past using these tools helps build retrieval cues and associations that strengthen one’s emotional connection to an experience and ensure longevity of thought.</p>

      <ul id="mnemonic-explanation">
        <li class="selected">
          <img src="../images/titled-icons/1_write_icon_black.svg" alt="write"/>
          <div class="mnemonic-content-left">
            <img class="vertical-line" src="../images/vertical-line.svg"/>
            <p>crafting a narrative bolsters episodic memory by tying our experiences to specific events and emotions; restating the memory this way involves deep processing, where the memory is encoded semantically—thereby rehearsed and reinforced.</p>
          </div>
        </li>
        <li>
          <img src="../images/titled-icons/2_visit_icon_black.svg" alt="visit"/>
          <div class="mnemonic-content-left">
            <img class="vertical-line" src="../images/vertical-line.svg"/>
            <p>tagging a location can help ground a memory and encourage sensory recall (textures, scents, sights, etc). Users can navigate their past by personalizing maps and exploring spaces with satellite imaging.</p>
          </div>
        </li>
        <li>
          <img src="../images/titled-icons/3_picture_icon_black.svg" alt="picture"/>
          <div class="mnemonic-content-left">
            <img class="vertical-line" src="../images/vertical-line.svg"/>
            <p>photographs and videos can serve as rich retrieval cues to help return to a specific moment in time or recall emotions. Users can pull content from existing social media accounts or upload their own imagery.</p>
          </div>
        </li>
        <li>
          <img src="../images/titled-icons/4_listen_icon_black.svg" alt="listen"/>
          <div class="mnemonic-content-right">
            <img class="vertical-line" src="../images/vertical-line.svg"/>
            <p>sounds activate our auditory cortex, where sensory stimuli are paired with personal meaning. Users can add their own files or record directly to their page, making it easy to revisit songs and voices or create oral histories.</p>
          </div>
        </li>
        <li>
          <img src="../images/titled-icons/5_connect_icon_black.svg" alt="connect"/>
          <div class="mnemonic-content-right">
            <img class="vertical-line" src="../images/vertical-line.svg"/>
            <p>small-scale networking allows users to share and reflect comfortably with individuals they know and trust. Memories can remain private or build in collaborative collections with specified groups.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="quote">
    <div class="wrapper row">
      <blockquote>
        When you have only a few cubic yards to yourself and your innermost feelings, that private space must be subjected to severest discipline if it is to withstand the dissolution, destruction and pressure to yield coming from all sides.
      </blockquote>
      <p class="header-text">—peter hoeg</p>
    </div>
  </div>

  <!--footer>
    <div class="row">
      <div class="small-12 large-4 columns">
        <h5>information</h5>
        <p>Designed and produced by Samantha Coughlin.</p>
        <p>Design BFA Thesis, University of Notre Dame</p>
        <p id="version">Stage 1: 2015</p>
      </div>
      <div class="small-12 large-8 columns">
      </div>
    </div>
  </footer-->

    <% include partials/scripts.ejs %>
    <script type="text/javascript" src="/js/homepage.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
  </body>
</html>