<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="stylesheets/homepage.css">
    <title>COLLECT</title>
  </head>
  <body>

  <div id="main" class="row">
    <div class="triangle-left"></div>
    <div id="banner" class="row">
      <div id="logo" class="small-12 large-6 columns">
        <img src="images/collect_logo.svg" alt="Collect Logo"/>
      </div>
      <div class="button-container small-6 large-3 columns">
        <a href="#" class="button">Log In</a>
      </div>
      <div class="button-container small-6 large-3 columns">
        <a href="#" class="button">Sign Up</a>
      </div>
    </div>
    <div id="tagline" class="row">
      <div class="large=12 columns">
        <p class="header-text">memories are fleeting:</p>
        <p id="tagline-subtext">preserve your experiences</p>
      </div>
    </div>
    <div id="memory-carousel" class="row">
    </div>
    <div id="about" class="row">
      <div id="yellow-about" class="about-block small-12 large-4 columns">
        <p class="header-text">memory inspires identity</p>
        <p>Our memories shape who we are and how we relate to the world. They record our past and frame our future. These scattered moments form the foundation of our identity, yet they are transient and fleeting by nature. In recollection, we actively engage our subconscious to travel back in time and explore dormant memories. With the added perspective of the present, we can reminisce about our formative moments.</p>
      </div>
      <div id="green-about" class="about-block small-12 large-4 columns">
        <p class="header-text">our stories matter</p>
        <p><span class="header-text">collect</span> is a personalized medium to preserve and build upon our respective stories; it is a website dedicated to archiving memories and shared experiences in order to adapt the past to its most vivid expression. It is a repository that gathers our histories and a space that engages us in reconstructing and protecting our experiences to understand our personal growth.</p>
      </div>
      <div id="blue-about" class="about-block small-12 large-4 columns">
        <p class="header-text">protect the past</p>
        <p>With <span class="header-text">collect</span>, users can privately manage their past by gathering memories and building shared recollection spaces with friends and family. Organized and accessible, the platform archives memories by date, location and content, and allows for the incorporation of visual and auditory aids. The design strives to increase the dimensionality of our narratives, reinforcing personal histories with greater tactility—metaphorically returning us to the place where we first captured each experience.</p>
      </div>
    </div>
  </div>

  <div id="how-it-works">
    <div class="row">
      <h1>how does it work?</h1>
      <p><span class="header-text">collect</span> is built to enrich memory; it saves content in a protected digital space and actively engages users in strengthing their memories by reinforcing neural pathways.<br><br>The website uses five central “mnemonic” devices to give memories more tactile form; recording the past using these tools helps build retrieval cues and associations that strengthen one’s emotional connection to an experience and ensure longevity of thought.</p>
    </div>
  </div>

  <div id="quote">
    <div class="wrapper row">
      <blockquote>
        When you have only a few cubic yards to yourself and your innermost feelings, that private space must be subjected to severest discipline if it is to withstand the dissolution, destruction and pressure to yield coming from all sides.
      </blockquote>
      <p class="header-text">—peter hoeg</p>
    </div>
  </div>

  <footer>
    <div class="row">
      <div class="small-12 large-4 columns">
        <h5>information</h5>
        <p>Designed and produced by Samantha Coughlin.</p>
        <p>Design BFA Thesis, University of Notre Dame</p>
        <p id="version">Stage 1: 2015</p>
      </div>
      <div class="small-12 large-8 columns">
        <!-- Need vertical bar -->
      </div>
    </div>
  </footer>

    <% include partials/scripts.ejs %>
  </body>
</html>