<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title><%= username %></title>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="/profile"><img id="logo" src="/images/collect_logo.svg" alt="Logo"></a>
        <div id="middle"></div>
        <div id="toolbar">
          <a href="#">
            <div class="svg-container">
              <img id="connections-icon" class="svg-icon" src="/images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#">
            <div class="svg-container">
              <img id="messages-icon" class="svg-icon" src="/images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>
          <a href="/profile">
            <p class="header-text" id="username">Elizabeth Pollard</p>
          </a>
          <a href="/profile">
            <div class="user-icon"></div>
          </a>
        </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

      <!-- Main body of the site -->
      <div id="main">

        <!-- User Information. Profile information on the side of the page. -->
        <div class="header-text" id="user-information">

          <div id="profile-picture" style="background-image: url(../images/content/<%= profilePic %>);"></div>
        
          <div class="svg-container" id="user-connections-count">
            <img class="svg-icon" src="/images/icons/connections_icon_black.svg" alt="Connections icon">
          </div>
          <p>12 connections</p>
          <hr />
          <div class="svg-container" id="user-memories-count">
            <img class="svg-icon" src="/images/icons/narrative_icon_black.svg" alt="Memories icon">
          </div>
          <p>30 memories</p>

          <a href="#" class="button dark" data-reveal-id="add-memory-modal">add a memory</a>
          <% include partials/addModal.ejs %>
          
        </div><!-- End User Information -->
          
        <div id="body-section"> <!-- Body Section. This is where the memories are shown in table form. The memory gallery. -->

          <div id="gallery-header"> <!-- User Information in the Body Section. Gallery Header. -->
            <p id="username"><%= username %></p>
            <div id="user-location">
              <p class="header-text"><%= location %></p>
            </div>
          </div> <!-- End User Information in the Body Section. Gallery Header. -->
          <div id="gallery"> <!-- Gallery of memory boxes -->
            <a href="/collection/marilyn/year-in-kenya" class="gallery-box text-only">
              <p class="content">This was definitely the period in my life that I matured the most; educationally, spiritually, emotionally and culturally.  I got completely out of the bubble I was living in both at home and in college.  I experienced cultures in a way I never would have had I gone the standard Europe route.  I was lucky at the time I went...</p>
              <div class="collection-title header-text">Year in Kenya</div>
            </a>
            <a href="/collection/marilyn/ending-up-in-sf" class="gallery-box three-pic">
              <div class="content"></div>
              <div class="content"></div>
              <div class="content"></div>
              <div class="collection-title header-text">Ending Up in San Francisco</div>
            </a>
            <a href="/collection/marilyn/working-in-baltimore" class="gallery-box one-pic">
              <div class="content"></div>
              <div class="collection-title header-text">Working in Baltimore</div>
            </a>
            <a href="/collection/marilyn/mamaroneck-high-school" class="gallery-box two-pic">
              <div class="content"></div>
              <div class="content"></div>
              <div class="collection-title header-text">Mamaroneck High School</div>
            </a>
            <a href="/collection/marilyn/family-stories" class="gallery-box text-only">
              <p class="content">My grandpa, William Dubilier, was honored by the French Government for his contributions to the rebuilding of France. He was a brilliant person. By the age of 8 he had dozens of patents and supported his entire family of 10 while living in the Bowery of New York City. He left home when he was 12 and lived alone and focused on creating. He invented burglar</p>
              <div class="collection-title header-text">Family Stories</div>
            </a>
            <a href="/collection/marilyn/younger-years" class="gallery-box two-pic">
              <div class="content"></div>
              <div class="content"></div>
              <div class="collection-title header-text">Younger Years</div>
            </a>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
          </div>
        </div> <!-- End Body Section. The memory gallery. -->
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>