<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <title><%= username %></title>
  </head>

  <body>
    <div class="wrapper">
    	<header>
        <img id="logo" src="images/collect_logo.svg" alt="Logo">
        <div id="middle"></div>
        <div id="toolbar">
          <a href="/connections">
            <div class="svg-container">
              <img id="connections-icon" class="svg-icon" src="images/connections_icon_white.svg" alt="Connections">
            </div>
          </a>
          <a href="#">
            <div class="svg-container">
              <img id="messages-icon" class="svg-icon" src="images/messages_icon_white.svg" alt="Messages">
            </div>
          </a>
          <p class="header-text" id="username"><%= username %></p>
          <div class="user-icon"></div>
        </div>
      <!-- NOTE: The following *must* be included as it closes the header tag -->
      <% include partials/header-end.ejs %>

      <!-- Main body of the site -->
      <div id="main">

        <!-- User Information. Profile information on the side of the page. -->
        <div class="header-text" id="user-information">

          <div id="profile-picture">
            <img src="images/my-profile-pic.jpg" alt="Profile picture">
          </div>
        
          <div class="svg-container" id="user-connections-count">
            <img class="svg-icon" src="images/icons/connections_icon_black.svg" alt="Connections icon">
          </div>
          <p><%= age %>12 connections</p>
          <hr />
          <div class="svg-container" id="user-memories-count">
            <img class="svg-icon" src="images/icons/narrative_icon_black.svg" alt="Memories icon">
          </div>
          <p>30 memories</p>

          <a href="#" class="button dark" data-reveal-id="add-memory-modal">add a memory</a>

          <div id="add-memory-modal" class="reveal-modal" data-reveal data-options="animation:fade;">
            <a class="close-reveal-modal">&#x2715;</a>
            <ul>
              <li><img src="../images/icons/narrative_icon_black.svg" alt="Write" /></li>
              <li><img src="../images/icons/location_icon_black.svg" alt="Location" /></li>
              <li><img src="../images/icons/picture_icon_black.svg" alt="Picture" /></li>
              <li><img src="../images/icons/sound_icon_black.svg" alt="Listen" /></li>
              <li><img src="../images/icons/connections_icon_black.svg" alt="Connect" /></li>
            </ul>
            <p id="remember-header">What do you remember?</p>
            <p class="header-text">Begin writing or drag media</p>

            <form id="add-memory" name="addMemory" method="put" action="/profile">
              <div class="row">
                <label>When was this?</label>
                <select id="season-month" class="half-width" name="season-month" placeholder="season or month">
                  <option value="">season or month</option>
                  <option value="Winter">Winter</option>
                  <option value="Spring">Spring</option>
                  <option value="Summer">Summer</option>
                  <option value="Fall">Fall</option>
                  <option value="January">January</option>
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April">April</option>
                  <option value="May">May</option>
                  <option value="June">June</option>
                  <option value="July">July</option>
                  <option value="August">August</option>
                  <option value="September">September</option>
                  <option value="October">October</option>
                  <option value="November">November</option>
                  <option value="December">December</option>
                </select>
                <input type="number" id="day" class="quarter-width" name="day" placeholder="day" />
                <input type="number" id="year" class="quarter-width" name="year" placeholder="year" />
              </div>

              <div class="row">
                <label>Add to Collections:</label>
                <select id="existing-collection" class="half-width" placeholder="existing collection">
                  <option value="">existing collection</option>
                  <option value="Short Title">Short Title</option>
                  <option value="My Birthday">My Birthday</option>
                  <option value="Another Collection">Another Collection</option>
                </select>
                <input type="text" id="new-collection" class="half-width" placeholder="create new collection" />
              </div>

              <div class="row">
                <label id="sharing">Who can see this?</label>
                <div>
                  <input type="radio" name="sharing" id="public" value="Public"/>
                  <label class="header-text" for="public">Public</label><br>
                  <input type="radio" name="sharing" id="private" value="Private" />
                  <label class="header-text" for="private">Private</label><br>
                  <input type="radio" name="sharing" id="specify" value="Specify" />
                  <label class="header-text" for="specify">Specify</label>
                </div>
              </div>
              <div id="submit">
                <button class="header-text button dark" type="submit">add</button>
              </div>
            </form>
          </div><!-- End Add Memory modal -->
        </div><!-- End User Information -->
          
        <div id="body-section"> <!-- Body Section. This is where the memories are shown in table form. The memory gallery. -->

          <div id="gallery-header"> <!-- User Information in the Body Section. Gallery Header. -->
            <p id="username"><%= username %></p>
            <div id="user-location">
              <p class="header-text">Location, Location</p>
            </div>
          </div> <!-- End User Information in the Body Section. Gallery Header. -->
          <div id="gallery"> <!-- Gallery of memory boxes -->
            <div class="gallery-box four-pic">
              <div class="content-col">
                <div class="content"></div>
                <div class="content"></div>
              </div>
              <div class="content-col">
                <div class="content"></div>
                <div class="content"></div>
              </div>
              <div class="collection-title header-text">short title</div>
            </div>
            <div class="gallery-box text-only">
              <p class="content">Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum. Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum. Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum.</p>
              <div class="collection-title header-text">title of collection</div>
            </div>
            <div class="gallery-box two-pic">
              <div class="content"></div>
              <div class="content"></div>
              <div class="collection-title header-text">short title</div>
            </div>
            <div class="gallery-box three-pic">
              <div class="content"></div>
              <div class="content"></div>
              <div class="content"></div>
              <div class="collection-title header-text">title of collection</div>
            </div>
            <div class="gallery-box one-pic">
              <div class="content"></div>
              <div class="collection-title header-text">scary long title of a collection</div>
            </div>
            <div class="gallery-box four-pic">
              <div class="content-col">
                <div class="content"></div>
                <div class="content"></div>
              </div>
              <div class="content-col">
                <div class="content"></div>
                <div class="content"></div>
              </div>
              <div class="collection-title header-text">short title</div>
            </div>
            <div class="gallery-box text-only">
              <p class="content">Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum. Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum. Here's a bunch of text content. Lor ipsum dolor sic amet. E pluribus unum. Et tu, Brute! De gustibus non est disputandum. Mens sano in corpore sanum.</p>
              <div class="collection-title header-text">short title</div>
            </div>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
            <div class="gallery-box ghost">
            </div>
          </div>
        </div> <!-- End Body Section. The memory gallery. -->
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>