<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <% include partials/head.ejs %>
    <title><%= username %></title>
  </head>

  <body>
  	<header>
          <div class="left">
           <span id="logo">COLLECT</span>
         </div>
         <div class="right">
            <div class="svg-container">
              <a href="/connections"><img class="svg-icon" src="images/connections_icon_white.svg" alt="Connections"></a>
              <a href="#"><img class="svg-icon" src="images/messages_icon_white.svg" alt="Messages"></a>
            </div>
            <span id="user-info"><%= username %></span>
          </div>

          <div id="pullout-menu-tab">
            <div class="triangle-left"></div>
            <div id="pullout-menu-icon-holder">
                <img src="" alt="Pullout Menu"/>
            </div>
          </div>
    </header>

    <!-- Pullout Menu -->
    <div id="pullout-menu">
      <input type="text" placeholder="Search"/>
      <a href="#">Settings</a>
      <a href="#">About</a>
      <a href="#">Log In / Register</a>
    </div>

    <!-- Main body of the site -->
    <div id="main" class="row">
      <div id="user-information-block" class="small-2 columns" style="background-color: red;">
        <div id="user-information">
          <p>I'm <%= age %> years old</p>
          <a href="#" data-reveal-id="myModal">
            <div id="add-memory" class="flat-button">Add</div>
          </a>

          <div id="myModal" class="reveal-modal" data-reveal>
            <h2>Create a memory.</h2>
            <p class="lead">You can add info here.</p>
            <p>I'm a cool paragraph that lives inside of an even cooler modal.</p>
            <a class="close-reveal-modal">&#215;</a>
          </div>

        </div>
      </div>

      <div id="memory-gallery" class="small-10 columns" style="background-color: purple;">
        <div id="gallery-header" class="row" style="background-color: green;">
          <p id="username">Name of user</p>
          <div id="user-location">
            <img src="" alt="Map Pin Icon"/>
            <p>Location, Location</p>
          </div>
        </div><!-- End galler-header -->

        <div class="gallery-row row">
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
        </div>

        <div class="gallery-row row">
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
          <div class="test-block collection small-12 medium-6 large-3 columns">
            <div class="content-holder">
              <img src="images/memory.png" alt="Memory"/>
            </div>
          </div>
        </div>
      </div><!-- End memory-gallery -->
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>