body {
    background: #eee;
    text-align: center;
    width: 100%;
}

#main {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 40px 0;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
.flat-button {
    background-color: #272727;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.svg-icon {
    height: 100%;
}
.svg-container {
    display: inline-block;
}

/*******************
 *
 * Foundation Overrides
 *
 ******************/
.row {
    max-width: 65rem;
}

/********************
 *
 * Profile Header
 *
 ********************/
 header {
    height: 4em;
    min-height: 30px;
    background-color: #272727;
    text-align: right;
    vertical-align: middle;
    color: white;
    padding: 0 1.7em; 
    text-transform: uppercase;
    -webkit-transition:  padding 1s;
    transition: padding 1s;
 }
 header #logo {
    float: left;
    width: 104px;
    height: auto;
 }
 header .svg-container {
    height: 1.5em;
    min-height: 10px;
 }
 header img {
    display: inline-block;
 }

/********************
 *
 * Pullout Menu
 *
 ********************/
 .triangle-left {
    width: 0;
    height: 0;
    border-top: 64px solid transparent;
    border-right: 80px solid #50D6AA;
    border-bottom: 64px solid transparent;
}
#pullout-menu-tab {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition:  right 1s;
    transition: right 1s;
}
#pullout-menu-icon-holder {
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
}
#pullout-menu {
    width: 20%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    right: -20%; /* "Hides" the menu off screen */
    background-color: rgba(143, 143, 143, 0.7);
    -webkit-transition:  right 1s;
    transition: right 1s;
}
/* Pulled out menu styles */
#pullout-menu.show {
    right: 0;
    -webkit-transition:  right 1s;
    transition: right 1s;
}
#pullout-menu-tab.show {
    right: 20%;
    -webkit-transition:  right 1s;
    transition: right 1s;
}
header.shift {
    padding-right: 25%;
    -webkit-transition:  padding 1s;
    transition: padding 1s;
}

/********************
 *
 * User Profile
 *
 ********************/
#user-information {
    height: 220px;
    background-color: #50D6AA;
    margin: 0 10px;
    position: relative; /* Necessary to postiion 'add' button absolutely on it */
}
#add-memory {
    position: absolute;
    top: 50%;
    right: -15px;
}

/********************
 *
 * Memory Gallery
 *
 ********************/

/****** Header ******/
#gallery-header {
    padding: 15px 0;
}
#gallery-header p {
    margin: 0;
}
#gallery-header #user-location img, #gallery-header #user-location p {
    display: inline-block;
}
#gallery-header #user-location img {
    width: 15px;
    height: 20px;
}

/****** Rows *******/
.gallery-row.row {
    margin: 0.5em 5%;
}
.test-block.collection {
    height: 160px;
    background-color: blue;
    margin: auto;
}
.collection .content-holder {
    text-align: center;
}
