<div id="add-memory-modal" class="reveal-modal" data-reveal data-options="animation:fade;">
  <a class="close-reveal-modal">&#x2715;</a>
  <ul>
    <li id="write"><img src="../images/icons/narrative_icon_black.svg" alt="Write" /></li>
    <li id="location" class="bw"><img src="../images/icons/location_icon_black.svg" alt="Location" /></li>
    <li id="picture" class="bw"><img src="../images/icons/picture_icon_black.svg" alt="Picture" /></li>
    <li id="listen" class="bw"><img src="../images/icons/sound_icon_black.svg" alt="Listen" /></li>
    <li id="connect" class="bw"><img src="../images/icons/connections_icon_black.svg" alt="Connect" /></li>
  </ul>
  <p id="remember-header" class="show">What do you remember?</p>
  <p class="show header-text">Begin writing or drag media</p>

  <form id="add-memory" name="addMemory" method="put" action="/profile">
    <div id="write" class="row">
      <input type="text" id="memory-title" name="title" placeholder="Title this memory" />
      <textarea placeholder="What do you remember?"></textarea>
    </div>
    <div id="optional">
      <div id="location" class="optional-input row">
        <div class="svg-container">
          <img class="svg-icon" src="../images/icons/location_icon_blue.svg" alt="Location" />
        </div>
        <input type="text" id="location" name="location" placeholder="enter an address" />
        <label class="header-text">Add a location</label>
        <hr>
        <a href="#0" class="header-text">Remove</a>
      </div>

      <div id="picture" class="optional-input row">
        <div class="svg-container">
          <img class="svg-icon" src="../images/icons/picture_icon_blue.svg" alt="Picture" />
        </div>
        <p>upload or import</p>
        <div class="media-inputs">
          <a class="header-text button select-files">select files</a>
          <p>or</p>
          <a class="header-text button social-media">.</a>
          <a class="header-text button social-media">.</a>
          <a class="header-text button social-media">.</a>
          <a class="header-text button social-media">.</a>
          <a class="header-text button social-media">.</a>
        </div>
        <label class="header-text">Add pictures &amp; video</label>
        <hr>
        <a href="#0" class="header-text">Remove</a>
      </div>

      <div id="listen" class="optional-input row">
        <div class="svg-container">
          <img class="svg-icon" src="../images/icons/sound_icon_blue.svg" alt="Picture" />
        </div>
        <p>share a sound</p>
        <div class="media-inputs">
          <a class="header-text button select-files">select files</a>
          <p>or</p>
          <a class="header-text button select-files">record</a>
        </div>
        <label class="header-text">Add pictures &amp; video</label>
        <hr>
        <a href="#0" class="header-text">Remove</a>
      </div>

      <div id="connect" class="optional-input row">
        <div class="svg-container">
          <img class="svg-icon" src="../images/icons/connections_icon_blue.svg" alt="Connections" />
        </div>
        <input type="text" id="connection" name="connection" placeholder="tag a connection" />
        <label class="header-text">Add a friend</label>
        <hr>
        <a href="#0" class="header-text">Remove</a>
      </div>
    </div> <!-- End optional inputs -->

    <div id="basic">
      <div class="basic-input row">
        <label>When was this?</label>
        <select id="season-month" class="half-width" name="season-month" placeholder="season or month">
          <option value="" disabled>season or month</option>
          <option value="Winter">Winter</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <input type="text" id="day" class="quarter-width" name="day" placeholder="day" />
        <input type="text" id="year" class="quarter-width" name="year" placeholder="year" />
      </div>

      <div class="basic-input row">
        <label>Add to Collections:</label>
        <select id="existing-collection" class="half-width" placeholder="existing collection">
          <option value="" disabled>existing collection</option>
          <option value="Short Title">Short Title</option>
          <option value="My Birthday">My Birthday</option>
          <option value="Another Collection">Another Collection</option>
        </select>
        <input type="text" id="new-collection" class="half-width" placeholder="create new collection" />
      </div>

      <div class="basic-input row">
        <label id="sharing">Who can see this?</label>
        <div>
          <input type="radio" name="sharing" id="public" value="Public"/>
          <label class="header-text" for="public">Public</label><br>
          <input type="radio" name="sharing" id="private" value="Private" />
          <label class="header-text" for="private">Private</label><br>
          <input type="radio" name="sharing" id="specify" value="Specify" />
          <label class="header-text" for="specify">Specify</label>
        </div>
      </div>
    </div> <!-- End basic inputs -->

    <p id="add-info" class="header-text">Additional Information<span>+</span></p>
    <div class="basic-input additional-input row">
      <label>Share as a message:</label>
      <input type="text" id="message-recipient" class="half-width" placeholder="user's name" />
      <input type="text" id="message" class="half-width" placeholder="message" />
    </div>

    <div class="basic-input additional-input row">
      <label>Tag content:</label>
      <input type="text" id="tags" class="half-width" placeholder="tags" />
    </div>

    <div id="submit">
      <button class="header-text button dark" type="submit">add</button>
    </div>
  </form>
  <script type="text/javascript" src="/js/addModal.js"></script>
</div><!-- End Add Memory modal -->