<!-- Closes the header
        This contains the tab,
        closes the header section,
        and contains the pullout menu itself
 -->
      <div id="pullout-menu-tab">
        <div class="triangle-left"></div>
        <div id="pullout-menu-icon-holder">
          <div class="svg-container">
            <img class="svg-icon" src="/images/icons/pullmenu_icon.svg" alt="Pullout Menu"/>
          </div>
        </div>
      </div>
</header>

<!-- Pullout Menu -->
<div id="pullout-menu-wrapper">
  <div class="header-text" id="pullout-menu">
    <input type="search" placeholder="Search"/>
    <a href="#">Settings</a>
    <a href="#">About</a>
    <a href="#">Log In / Register</a>
  </div>
</div>